
---------------------------------------------------

{{#validationResult}}
{{{severity}}} ({{{messageId}}}) in "{{{path}}}"{{#line}} ({{{translatedStrings.line}}} {{{line}}}{{/line}}{{#column}}, {{{translatedStrings.column}}} {{{column}}}){{/column}}:
   {{{message}}}

{{/validationResult}}

---------------------------------------------------
