
---------------------------------------------------

{{#validationResult}}
{{{severity}}} ({{{messageId}}}) in "{{{path}}}" (Zeile {{{line}}}, Zeichen {{{column}}}):
   {{{message}}}

{{/validationResult}}

---------------------------------------------------
