<!DOCTYPE html>
<html lang="{{metadata.language}}">
<head>
    <meta charset="utf-8">
    <title>{{translatedStrings.headingReport}}</title>
    <style>
        body {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        }
    </style>
</head>
<body>

<h1>{{translatedStrings.headingReport}}</h1>

<h2>{{translatedStrings.headingValidationResults}}</h2>

<table>
    <thead>
        <tr>
            <th>{{translatedStrings.messageId}}</th>
            <th>{{translatedStrings.severity}}</th>
            <th>{{translatedStrings.message}}</th>
            <th>{{translatedStrings.path}}</th>
            <th>{{translatedStrings.line}}</th>
            <th>{{translatedStrings.column}}</th>
        </tr>
    </thead>
    <tbody>
    {{#validationResult}}
        <tr>
            <td>{{messageId}}</td>
            <td>{{severity}}</td>
            <td>{{message}}</td>
            <td>{{path}}</td>
            <td>{{line}}</td>
            <td>{{column}}</td>
        </tr>
    {{/validationResult}}
    </tbody>
</table>

</body>
</html>
