# {{translatedStrings.headingReport}}

## {{translatedStrings.headingValidationResults}}

| {{translatedStrings.messageId}} | {{translatedStrings.severity}} | {{translatedStrings.message}} | {{translatedStrings.path}} | {{translatedStrings.line}} | {{translatedStrings.column}} |
| --- | --- | --- | --- | --- | --- |
{{#validationResult}}
| {{messageId}} | {{severity}} | {{message}} | {{path}} | {{line}} | {{column}} |
{{/validationResult}}
