{{#validationResult}}
{{{messageId}}} {{{severity}}}: {{{message}}} ({{{path}}}, Line {{{line}}}, Column {{{column}}})
{{/validationResult}}

{{#infoResult}}
{{{feature}}} "{{{resource}}}": {{{value}}}
{{/infoResult}}
