{{#validationResult}}
{{{messageId}}} {{{severity}}}: {{{message}}} ({{{path}}}{{#line}}, {{{translatedStrings.line}}} {{{line}}}{{/line}}{{#column}}, {{{translatedStrings.column}}} {{{column}}}{{/column}})
{{/validationResult}}

