================================
{{translatedStrings.headingReport}}
================================

--------------------------------
{{translatedStrings.headingValidationResults}}
--------------------------------

.. list-table::
   :widths: 10 10 30 30 10 10
   :header-rows: 1

   * - {{translatedStrings.messageId}}
     - {{translatedStrings.severity}}
     - {{translatedStrings.message}}
     - {{translatedStrings.path}}
     - {{translatedStrings.line}}
     - {{translatedStrings.column}}
{{#validationResult}}
   * - {{{messageId}}}
     - {{{severity}}}
     - {{{message}}}
     - {{{path}}}
     - {{{line}}}
     - {{{column}}}
{{/validationResult}}
